//lide-pocket
.slide-pocket {
  max-width: 1121;
  min-width: 320px;
  height:322px;
  overflow: hidden;
  background: $bg-gray;

  //slide-pocket--expanded
  &--expanded{
    height:auto;
    overflow: visible;
  }
  
  //slide-pocket__items
  &__items {
    padding: 0;
    display: flex;
    height: 190px;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  //slide-pocket__items--expanded
  &__items--expanded {
    height:auto;
    overflow: visible;
  }

  //slide-pocket__item
  &__item {
    list-style: none;
    margin-right: 31px;
    margin-top: 16px;
    
    @media screen and (max-width: $lg) and (min-width: $sm) {
      margin-right: 24px;
    }
  }
}