//colors
$faux-turquoise: #41f6d7;
$lime-green: #d9fff5;
$turquoise: #b8ffec;
$bg-gray: #f8f8f8;
$font_gray: #7e7e82;
$font-text: #1b1c21;
$brd-btm: #EAEAEA;
$washed-rose:#FF3E79;
$placeholder:#B5B6BC;